// 1080、960、400
* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #000;
    margin: 0;
    height: 100vh;

}

header,
section {
    margin-bottom: 100px;
}

header {
    padding-bottom: 20px;
    overflow: hidden;
}

@media (max-width:1198px) {

    header,
    section {
        margin-bottom: 20px;
    }


}

.container-normal {
    width: 90%;
    max-width: 1680px;
    margin: auto;
    background-color: #ffffff;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width:1399px) {

    nav,
    section {
        width: 100%;
    }

}

@media (max-width:960px) {
    .container-normal {
        width: 100%;
    }

    .pc-menu>li,
    .li-1,
    .li-2 {
        display: none;
    }

    .nav-ham-switch {
        display: block !important;
        top: 15px;
        left: 15px;
    }

    nav {
        position: relative;

        .logo {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);

        }

        .small-search {
            display: inline !important;
            position: absolute;
            left: 70px;
            top: 22px;
            color: #000;

            &:hover {
                color: #747474;

            }

        }
    }




}

nav {
    display: flex;
    justify-content: space-between;

    #nav-ham {
        visibility: hidden;

        &:checked+.nav-ham-switch {
            background-image: url(../img/x-lg.svg);
        }

        &:checked~.nav-ham-menu {
            display: block;
        }
    }

    .nav-ham-switch {
        width: 30px;
        height: 30px;
        background-color: transparent;
        background-image: url(../img/list.svg);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        position: absolute;
        display: none;


    }

    .nav-ham-menu {
        z-index: 30;
        background-color: #a06161;
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -15px;
        top: 60px;
        width: 100vw;
        display: none;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                background-color: #fff;
                padding-left: 30px;
                padding-top: 30px;
                padding-bottom: 30px;

            }
        }
    }

    .small-search {
        display: none;
    }



    .nav-left {
        display: flex;
        flex-direction: row;
        justify-content: start;

        .logo {
            height: 100%;
            width: auto;
            // background-color: #f3f180;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 10px;
            padding-right: 10px;
        }

        & img {
            height: 40%;
            width: auto;
            background-size: contain;
        }

        .pc-menu {
            display: flex;
            // height: 100%;
            align-items: center;

            & li {
                // background-color: #a35656;
                list-style-type: none;
                padding-left: 10px;
                padding-right: 10px;


                a {
                    color: #4b4b4b;
                    text-decoration: none;
                    display: inline-block;
                    height: 50px;
                    line-height: 50px;
                    padding: 0 5px;

                    span:hover {
                        border-bottom: 2px solid #000;
                        padding-bottom: 2px;
                    }

                    &:active {
                        border: 1px dashed #6b6b6b;

                    }
                }
            }

        }


    }

    @media (max-width:1080px) {
        .func-menu {
            li {
                span {
                    display: none;
                }

                .span1 {
                    display: block;
                }

            }
        }

    }

    .func-menu {
        height: 100%;
        display: flex;
        list-style-type: none;
        max-width: 1680px;
        align-items: center;

        li {
            height: 100%;
            // background-color: #fff;
            list-style-type: none;
            line-height: 60px;
            padding-left: 10px;
            padding-right: 10px;
            // color: #4b4b4b;
            cursor: pointer;



            &:not(.li-1):active {
                border: 1px dashed #000;
            }

            a,
            i {
                color: #4b4b4b;
                text-decoration: none;

                &:hover {
                    border-bottom: 2px solid #000;
                    padding-bottom: 2px;
                }

            }
        }

        #func-menu-ntn1 {
            visibility: hidden;
            position: absolute;
        }

        .func-menu-ntn1-switch {
            cursor: pointer;
            color: #646464;

        }

        #func-menu-ntn1:checked+.func-menu-ntn1-switch {
            display: block;
            background-color: #e7e7e7;
            border: 1px dashed #000;
            // text-decoration: underline;
        }

        #func-menu-ntn1:checked~.func-menu-bar {
            display: block;
        }
    }
}

.func-menu-bar {
    display: none;

    .func-menu-bar-all {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        background-color: #f1f1f1;
        position: absolute;
        right: 5%;
        top: 60px;
        z-index: 25;

        border: 1px solid #b8b8b8;

        .func-menu-bar-top {
            display: flex;
            justify-content: end;

            li {
                display: flex;
                flex-direction: column;
                padding-right: 60px;
                // padding-top: 10px;
                list-style: none;


                span {
                    font-weight: 700;
                    font-size: 14px;
                    // padding-bottom: 20px;
                    text-decoration: none;
                    color: #000;

                }

                a {
                    line-height: 40px;
                    text-decoration: none;
                    color: #686868;
                    font-size: 13px;

                    &:hover {
                        text-decoration: underline;
                        color: #000;
                    }
                }
            }

        }

        .func-menu-bar-buttom {
            display: flex;
            background-color: #e4e4e4;
            width: 100%;
            height: 40px;
            border-bottom: 2px solid #000;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #000;

            &:hover {
                text-decoration: underline;
            }
        }

    }

}



main {
    width: 90%;
    max-width: 1680px;
    margin: auto;
    align-items: center;

    .three-choice {
        display: flex;
        background-color: #fff;
        justify-content: center;
        align-items: center;

        .three-choice-box {
            display: flex;
            flex-direction: column;
            padding: 20px;

            & img {
                height: 40px;
            }

            & span {
                font-size: 1rem;
                text-decoration: underline;
                color: #2152bb;
                font-weight: 600;
            }
        }
    }

    .four-pic {
        display: flex;
        justify-content: space-around;
        background-color: #ffffff;

        .four-pic-box {
            width: calc(100% - 10px);
            background-color: #ffffff;
            margin-right: 10px;

            h2 {
                font-size: 1.5rem;
            }

            h3 {
                font-size: 1rem;
                font-weight: 400;
            }

            .new {
                display: inline-block;
                background-color: #e9b443;
                width: 100px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                font-size: 25px;
                font-weight: 700;
                margin-top: 20px;
            }

            i {
                transition: 0.5s ease;
            }

            a {
                font-size: 1rem;
                font-weight: 400;
                color: #2f60c9;
                text-decoration: none;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;

                    i {
                        transform: translate(5px, 0);
                    }
                }

                &:active {
                    border: 3px dotted #2f60c9;
                    padding-right: 10px;
                }

            }

            img {
                width: 100%;
                margin-right: 10px;
            }

            .four-pic-box4 {
                margin: 0;
            }

        }

        .four-pic-box4 {
            margin-right: 0;
        }
    }

    @media (max-width:1198px) {
        .four-pic {
            flex-wrap: wrap;
            justify-content: space-between;

            .four-pic-box {
                width: calc(50% - 20px);
                margin-bottom: 50px;

                img {
                    margin-right: 0;
                }
            }

        }
    }

    .one-bigpic {
        width: 100%;
        position: relative;

        .one-bigpic-box {
            background-color: transparent;
            width: 30%;
            position: absolute;
            top: 20%;
            left: 5%;
            color: white;


            h1 {
                font-size: 2rem;
            }

            h3 {
                font-size: 1rem;
                font-weight: 400;
            }

            button {
                display: inline-block;
                font-size: 1rem;
                background-color: #3f61ac;
                padding: 10px 20px;
                font-weight: 700;
                color: #ffffff;
                text-decoration: none;
                position: relative;
                overflow: hidden;
                border: 0;



                &:hover {
                    background-color: #334f8b;
                    color: #c4c4c4;
                }

                &:active {
                    border: 4px dotted #fff;
                }
            }


        }

    }
    @media (max-width:1198px) {
        .one-bigpic {
            margin-bottom: 300px;
            .one-bigpic-box {
            color: #000;
            background-color: #fff;
            top:420px;
            width:90%;
            left:5%;
            padding: 20px;
            box-shadow: 0 0 5px #000;
            }
        }
    }

    img {
        width: 100%;
    }
}








.four-pic2-text {
    font-size: 2.5rem;
}

.four-pic2 {
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;

    .four-pic-box {
        width: calc(100% - 10px);
        background-color: #ffffff;
        margin-right: 10px;

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1rem;
            font-weight: 400;
        }

        i {
            transition: 0.5s ease;
        }

        a {
            font-size: 1rem;
            font-weight: 400;
            color: #2f60c9;
            text-decoration: none;
            font-weight: 600;

            &:hover {
                text-decoration: underline;

                i {
                    transform: translate(5px, 0);

                }

            }

            &:active {
                border: 3px dotted #2f60c9;
                padding-right: 10px;
            }
        }

        img {
            width: 100%;
            margin-right: 10px;
        }

        .four-pic-box4 {
            margin: 0;
        }

    }

    .four-pic-box4 {
        margin-right: 0;
    }

}
@media (max-width:1198px) {
    .four-pic2 {
        flex-wrap: wrap;
        justify-content: space-between;

        .four-pic-box {
            width: calc(50% - 20px);
            margin-bottom: 50px;

            img {
                margin-right: 0;
            }
        }

    }
}

.others {
    background-color: #fff;
    line-height: 30px;
    font-size: 1rem;

    span {
        margin-right: 20px;
    }

    i {
        margin-right: 20px;
        cursor: pointer;

        &:active {
            border: 3px dotted #2f60c9;
            padding: 5px;
        }
    }

}






footer {
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    ul {
        // list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        // background-color: #fff;
        padding: 0;

        li {
            display: flex;
            flex-direction: column;

            h3 {
                color: #424242;
            }

            a {
                line-height: 30px;
                color: #6e6e6e;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    color: #000000;
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;

        // background-color: #fff;
        .footer-bottom-left {
            display: flex;

            a {
                margin-right: 20px;
                color: #6e6e6e;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    // color: #000000;
                }
            }

        }

        .footer-bottom-right {
            a {
                margin-left: 15px;
                color: #6e6e6e;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                    color: #000000;
                }
            }

            span {
                margin-left: 15px;
                color: #6e6e6e;
            }
        }
    }

}

#go-top-box {
    display: fixed;
    position: sticky;
    bottom: 100px;
    right: 0;
    float: right;
    background-color: #b3b3b3;
    height: 50px;
    width: 100px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    margin-bottom: 50px;
    // z-index: 1;

    i {
        margin-right: 5px;
    }
}